.git
.env
.env.*
!.env.example
vendor
node_modules
frontend/node_modules
frontend/dist
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*.php
.phpunit.result.cache
npm-debug.log
yarn-error.log
rr
rr.exe
.rr.yaml
